= form_with model: post, id: "form_#{dom_id(post)}" do |f|
  - if post.errors.any?
    #error_explanation
      %h2= "#{pluralize(post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - post.errors.full_messages.each do |message|
          %li= message

  .grid-x
    .cell.small-5
      .field
        = f.label :title
        = f.text_field :title
    .cell.small-5
      .field
        = f.label :body
        = f.text_area :body
    .cell.small-2
      .field
        = f.label :published
        = f.check_box :published
  .actions
    = f.submit 'Save', class: "button"
